.main1 {
    display: flex;
    margin-top: 100px;
}

.box1 {
    margin-top: 10px;
    display: contents;
}

.para1 {
    // margin-left: 15px;
    font-size: 24px;
    // line-height: 32px !important;
    font-family: Jeko Semibold, sans-serif !important;
    text-align: left;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    // padding-right: 100px;
    // margin-right: 100px;
}

.bimg {
    padding: 12px;
    height: auto;
    width: 40% !important;
}
