.full-width-img{
    width: 100%;
    max-width: 1920px;
    height: 725px;

    margin: auto;
    margin-bottom: 50px;
    margin-top: 0px;
}
.add-section{
    width: 550px;
    height: 128px;

    
    margin: auto;
    margin-bottom: 50px;
}
.product-container{
    margin-bottom: 50px;
}
.row-1-col-2{
    display: inline-block;
}
.col-4-row-1{
    width: 240px;
    height: 240px;
    margin: 5px;

    display: inline-block;
}
.page-text{
    font-family: 'Helvetica Neue';
    font-weight: bolder;
    font-size: x-large;
}
.wall-logo-img{
    width: 400px;
    height: 150px;
    border: 2px solid black;
    margin-bottom: 50px;
}
@media screen and (min-width:768px)and (max-width:1259px){
    .col-4-row-1{
        width: 175px;
        height: 175px;
    }
    .full-width-img{
        height: 500px;
    }
    .add-section{
        width: 400px;
        height: 100px;
    }
}
@media screen and (min-width:0px)and (max-width:767px){
    .row-1-col-2{
        display: block;
    }
    .col-4-row-1{
        width: 140px;
        height: 140px;
    }
    .add-section{
        width: 320px;
        height: 80px;
    }
    .wall-logo-img{
        width: 320px;
        height: 100px;
    }
    .full-width-img{
        height: 350px;
        width: 375px;
    }
}