// IG slider Space
.ig-bottom {
  margin-bottom: -190px;
  z-index: -1 !important;
}

@media screen and (min-width:1298px)and (max-width:1434px){

  .ig-bottom {
    margin-bottom: -180px;
  }
}

@media screen and (min-width:1204px)and (max-width:1298px){

  .ig-bottom {
    margin-bottom: -170px;
  }
}

@media screen and (min-width:1168px)and (max-width:1204px){

  .ig-bottom {
    margin-bottom: -160px;
  }
}

@media screen and (min-width:994px)and (max-width:1186px){

  .ig-bottom {
    margin-bottom: -140px;
  }
}

@media screen and (min-width:994px)and (max-width:1186px){

  .ig-bottom {
    margin-bottom: -140px;
  }
}

@media screen and (min-width:768px)and (max-width:994px){

  .ig-bottom {
    margin-bottom: -200px;
  }
}

@media screen and (min-width:540px)and (max-width:768px){

  .ig-bottom {
    margin-bottom: -150px;
  }
}

@media screen and (min-width:400px)and (max-width:540px){

  .ig-bottom {
    margin-bottom: -250px;
  }
}

@media screen and (min-width:340px)and (max-width:400px){

  .ig-bottom {
    margin-bottom: -220px;
  }
}
// remove Footer Follow Us Text From Home Page 
.follow-us-text-footer{
  display: none;
}
.trending-contents{
  margin-top: 80px;
  margin-bottom: 80px;
}
.m-gift-boxes-asset{
  display: none;
}
.elevated-content{
  margin-top: 80px;
  margin-bottom: 80px;
}
.tween-content{
  margin-top: 80px;
  margin-bottom: 80px;
}
.slideshow-container{
    width: 100%;
    max-width: 1920px;
    height: 600px;
    margin: auto;

}
.row-1-col-2{
  display: inline-block;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.shop-now-button{
  font-family: 'Helvetica Neue';
  position: absolute;
  bottom: 20%;
  left: 35%;
  font-weight: bold;
  border: 2px solid black;
  height: 50px;
  width: 30%;

  margin-top: 400px;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.center{
  text-align: center;
}

.dot-container{
  text-align: center;
}
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color:#bbb;
  border-radius: 100%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: red;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.0s;
  animation-name: fade;
  animation-duration: 3.0s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
#gifts-head{
  text-align: center;
  padding-top: 70px;
  font-family: 'Helvetica Neue';
}
.heading{
  font-family: 'Helvetica Neue';
}
.gift-box{
  height: 20% !important;
  width: 20% !important;
  max-height: 350px;
  max-width: 350px;
  display: inline-block;
  margin: 5px;
}
.gifts-container{
  width: 1000px;
  margin: auto;
  margin-bottom: 80PX;
}
.gift-boxes{
  text-align: center;
}

.model-image-container{
  text-align: center;
  display: flex;
  justify-content: center;
}
.model-image{
  height: 600px;
  width: 55%;
  max-width: 1036px;
  overflow: auto;

}
.parallel-to-model{
  width: 45%;
  position: relative;
  max-width: 864px;
  height: 600px;


  overflow: auto;
}
.four-col-1-row{
  height: 275px;
  width: 275px;
  background:grey;
  display: inline-block;
  margin: 5px;
}
.tween-social-meadia{
  height: 80px;
}
.five-col-1-row{
  height: 238px;
  width: 238px;

  display: inline-block;
  margin: 5px;
}
.tween-social{
  height: 100px;
}
.social-footer{
  height: 100px;
}
@media screen and (min-width:768px)and (max-width:1259px){
  .shop-now-button{
    margin-top: 310px;
  }
  .slideshow-container{
    width: 100%;
    height: 400px;
}
  .first-box{
    display: none;
  }
  .forth-box{
    display: none;
  }
  .fifth-box{
    display: none;
  }
  .model-image{
    height: 420px;
  }
  .parallel-to-model{
    height: 420px;
  }
  .gift-box{
    width: 20% !important;
    height: 20% !important;
    max-width: 350px;
    max-height: 350px;
    margin: 5px;
  }
  .gifts-container{
    width: 740px;
    margin: auto;
    margin-bottom: 80px;
  }
  .four-col-1-row{
    width: 200px;
    height: 200px;
    margin: 5px;
  }
}
@media screen and (min-width:0px) and (max-width:767px){
  .m-gifts-container{
    margin-bottom: 80px;
  }
  .tween-social{
    height: 50px;
  }
  // .m-gift-boxes-asset{
  //   display: block;
  // }
  // .gifts-container-asset{
  //   display: none;
  // }
  .shop-now-button{
    margin-top: 250px;
  }
  .m-row-1-col-2{
    display: block;
    text-align: center;
  }
  .row-1-col-2{
    display: block;
  }
  .model-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .gift-box{
    display: inline-block;
    margin: 5px;
    height: 150px;
    width: 145px;
  }
  .m-gift-box{
    display: inline-block;

    margin: 5px;
    height: 150px;
    width: 150px;
  }
  .model-image{
    display: none;
    margin: 5px auto;
    width: 290px;
    height: 300px;
    order: 1;
  }
  .parallel-to-model{
    display: table;
    margin: 5px auto;
    width: 100%;
    max-width: 375px;
    height: 350px;
    order: 2;
  }
  .four-col-1-row{
    display: inline-block;
    margin: 5px;
    height: 150px;
    width: 150px;
  }
  .five-col-1-row{
    display: table;
    margin: 15px auto;
  }
  .first-box{
    display: none;
  }
  .forth-box{
    display: none;
  }
  .fifth-box{
    display: none;
  }
  .slideshow-container{
    height: 350px;
    width: 100%;
    max-width: 375px;
  }
}