//For Paypal button
.b-cart__actions-paypal{
    margin: auto;
}
#maincontent{
    background-color: #F9F9F9;
}
.cart-img-container{
    height: 7.625em !important;
    width: 7.625em !important;
}
.cart-pro-img{
    max-height: 7.625em !important;
}
.details-heading{
    display: flex;
    text-align: center;
    font-weight: 700;
}
.product-tag{
    flex: 20%;
}
.qty-tag{
    flex: 25%;
}
.Price-tag{
    flex: 20%;
}
.promo-code-btn{
    background: black;
    border-color: black;
    border-radius: 50px;
}
.promo-code-btn:hover{
    background: black;
    border-color: black;
    border-radius: 50px;
}

.checkout-btn{
    background: rgb(237,75,122);
    border-color: rgb(237,75,122);
    border-radius: 50px;
}
.checkout-btn:hover{
    background: rgb(237,75,122) !important;
    border-color: rgb(237,75,122) !important;
}
.page-title{
    background: black !important;
}
.page-title:before{
    background: black !important;
}
.product-info{
    border-radius: 20px;
    border: none;
    background: white;
}
@media screen and (min-width:0px)and (max-width:991px){
    .details-heading{
        display: none;
    }
}
.continue-shopping{
    margin-bottom: 20px;
}
.continue-shopping-link{
    text-decoration: none !important;
}
@media screen and (min-width:992px)and (max-width:1200px){
    .cart-pro-details{
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .details-heading{
        display: none !important;
    }
    .product-details-tab{
        display: block !important;
    }
    .tab-d-none{
        display: none !important;
    }
}