// .shipping-page{
//     display: flex;
// }
// .order-prod-summary{
//     max-width: 100% !important;
// }
.order-details{
    background: white !important;
}
.single-shipping{
    background: white;
}

.page-title-login{
    background: #000000 !important;
}
.page-title-login:before{
    background: #000000 !important;
}

.page-title{
    background: rgb(237,75,122) !important;
}
.page-title:before{
    background: rgb(237,75,122) !important;
}
.navigator{
    color: black !important;
    margin: 2px;
}
.navigation{
    display: flex;
}
.navigationOuter{
    display: flex;
    margin-left: 7%;
}
.card-header{
    border: none !important;
}
.card-heading{
    background: none !important;
    font-size: 24px !important;
    font-weight: bold !important;
    text-transform: none !important;
    padding: 1% 0% 1% 0% !important;
    border-bottom: none !important;
    color: rgb(237,75,122) !important;
    font-family: "ProximaNovaSoftW03";   
}
.card{
    border: none !important;
}
.shipping-section{
    box-shadow: 4px 4px 4px #cccaca;
    margin-right: 50px;
    margin-left: 14%;
}
.shipping-section{
    width: 83%;
}

@media (max-width: 768px) {
    .shipping-section{
        box-shadow: 4px 4px 4px #cccaca;
        margin-right: 0px;
        margin-left: 0%;
        width: 100%;
    }
    .navigationOuter{
        display: flex;
        margin-left: 0%;
    }
    .checkoutFormOuterDiv {
        margin-left: 0%;
    }
 }

label{
    font-family: 'Helvetica-Neue';
}
//billing
.checkoutFormOuterDiv {
    float: left;
    width: 83%;
    margin-right: 2%;
    margin-left: 14%;
    background: white;
    box-shadow: 4px 4px 4px #cccaca;
    border-radius: 10px !important;
}
.checkoutFormCenter {
    margin: 8% 8%;
}
.billingHeading {
    background: none;
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
    padding: 1% 0% 1% 0%;
    border-bottom: none;
    color: rgb(237,75,122);
    font-family: "ProximaNovaSoftW03";
}

.paymentHeading {
    background: none;
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
    padding: 1% 0% 1% 0%;
    border-bottom: none;
    color: rgb(237,75,122);
    font-family: "ProximaNovaSoftW03";
}
.label-name {
    text-align: left ;
    width: 100% ;
    font-size: 12px ;
    font-weight: 400 ;
    font-family: 'Montserrat';
}

.input-box {
    height: 37px;
    margin-bottom: 2px;
    border-radius: 6px !important;
    border: 1px solid rgba(178, 178, 178, 0.5);
}

.product-summary-box {
    margin-left: 20px;
    background: white;
    box-shadow: 4px 4px 4px #cccaca;
    border-radius: 10px !important;
    height: 267px;
}

.product-order-summary {
    background: #f8f9fb;
    box-shadow: 4px 4px 4px #cccaca;
    border-radius: 10px !important;
}
.order-prod-summary {
    flex: 0 0 25%;
    max-width: 25%;
    height: 50%;
    box-shadow: 4px 4px 4px #cccaca;
}

.col-3-div {
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 992px) {
    .checkoutFormOuterDiv {
        margin-left: 0%;
        width: 100%;
    }
    .order-prod-summary {
        flex: 0 0 35%;
        max-width: 100% !important;
        height: 50%;
        box-shadow: 4px 4px 4px #cccaca; 
     }
 }

 .order-prod-summary {
    flex: 0 0 25%;
    max-width: 65%;
    height: 30.50%;
    box-shadow: 4px 4px 4px #cccaca; 
 }

 .line-item-name {
    white-space: normal !important;
}