.row-1-col-2-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 50px;
    margin-bottom: 80px;
    justify-content: center;
}
.row-1-col-2{
    margin: 20px;
}
.release-img{
    width: 505px;
    height: 505px;

}
.desc-text{
    font-family: 'Helvetica Neue';
    font-weight: lighter;
    font-size: larger;
    margin: auto;
    margin-bottom: 30px;
}
.press-logo{
    height: 100px;
    width: 505px;

    margin-top: 40px;
    margin-bottom: 40px;
}
.logo-link{
    font-size: larger;
    font-weight: bolder;
}
.press-desc{
    width: 470px;
}
@media screen and (min-width:768px)and (max-width:1259px){
    .release-img{
        width: 350px;
        height: 350px;
    }
    .press-logo{
        width: 350px;
    }
    .press-desc{
        width: 350px;
        height: 160px;
    }
    .row-1-col-2-container{
        margin: 10px;
        margin-top: 40px;
    }
    .row-1-col-2{
        margin: 10px;
    }
}
@media screen and (min-width:0px)and (max-width:767px){
    .release-img{
        height: 350px;
        width: 350px;
        margin: auto;
    }
    .press-logo{
        width: 350px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .row-1-col-2-container{
        display: block;
        margin: auto;
    }
    .press-desc{
        width: 350px;
        margin: auto;
    }
    .row-1-col-2{
        margin: 20px 0 20px 0;
    }
    
}