.quick-view-image-container{
    display: flex;
    flex-direction: row-reverse;
}
pre{
    white-space: break-spaces !important;
    font-family: 'HelveticaNeueLTStd-Roman' !important;
}
.carousel-inner{
    overflow: unset !important
}
.quick-view-image-1{
    margin: 0 10px 10px 10px;
    width: 300px;
    display: block;
}
.quick-view-image-next{
    width: 110px !important;
    height: 110px !important;
    display: block;
    margin-bottom: 10px !important;
}
.product-qty-addtocart{
    display:flex;
    flex-wrap:wrap;
}
.product-qty-ui{
    border:1px solid black;
    text-align: center;
    border-radius:5px;
    height: 40px;
    vertical-align: middle;
    width: 55px;
}
.minus{
    cursor: pointer;
    margin-left: 6px;
    font-size: 16px;
    line-height: 40px;
    vertical-align: middle;
}
.quantity-selected{
    width: 15px;
    text-align: center;
    border: none;
    vertical-align:middle;
}
.plus{
    cursor: pointer;
       font-size: 16px;
       line-height: 40px;
       vertical-align: middle;
}
.add-to-cart-global{
    margin-left:26px;
    line-height:40px;
    height: 40px;
    max-width: 150px;


    background-color: #262626;
    border: solid #262626;
    border-width: 0.0625rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-family: 'Helvetica Neue';
    letter-spacing: 0.0625rem;
    padding: 0 15px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.3s ease;
}
.add-to-cart-global:hover{
    color: #fff;
    border-color: #686f6f;
    background-color: #686f6f;
}
.wishlistIcon{
    font-size:30px !important;
    margin-left:30px;
}
.modal-header{
    background: white !important;
    border: none !important;
}
.sfra-pdp-link{
    display: none;
}
.quick-view-price{
    text-align: initial;
}
.my-pdp-link-div{
    padding: 0px;
    padding-top: 30px;
}
.my-pdp-link{
    color: black !important;
}
