.justify-space-bw{
    justify-content: space-between;
}
.dFlex{ 
    display: flex;
}
.w-90{
    width: 90%;
}
.editButton{
        min-width: 45px;
        width: 10%;
        color: white !important;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        border-radius: 4PX;
        background-color: rgb(237,75,122);
}
.summary-section-label{
    font-weight: 500;
    padding-bottom: 20PX !important;
    font-size: 16px;
    color: rgb(237,75,122);
    line-height: 100%;
}
