// @import "../../_lib/api";

// @import "checkout-components";
// @import "../../components/avs/avs";

// @import "~app_dannyco/cartridge/scss/en_CA/variables";
// @import "~giftcertificates/checkout/checkout";
// My checkout Page Scss
// .shipping-page{
//     display: flex;
// }
// .order-prod-summary{
//     max-width: 100% !important;
// }
.order-details{
    background: white !important;
}
.single-shipping{
    background: white;
}

.page-title-login{
    background: #000000 !important;
}
.page-title-login:before{
    background: #000000 !important;
}

.page-title{
    background: rgb(237,75,122) !important;
}
.page-title:before{
    background: rgb(237,75,122) !important;
}
.navigator{
    color: black !important;
    margin: 2px;
}
.navigation{
    display: flex;
}
.navigationOuter{
    display: flex;
    margin-left: 7%;
}
.card-header{
    border: none !important;
}
.card-heading{
    background: none !important;
    font-size: 24px !important;
    font-weight: bold !important;
    text-transform: none !important;
    padding: 1% 0% 1% 0% !important;
    border-bottom: none !important;
    color: rgb(237,75,122) !important;
    font-family: "ProximaNovaSoftW03";   
}
.card{
    border: none !important;
}
.shipping-section{
    box-shadow: 4px 4px 4px #cccaca;
    margin-right: 50px;
    margin-left: 14%;
}
.shipping-section{
    width: 83%;
}

@media (max-width: 768px) {
    .shipping-section{
        box-shadow: 4px 4px 4px #cccaca;
        margin: auto;
        width: 84%;
    }
    .navigationOuter{
        display: flex;
        margin-left: 0%;
    }
    .checkoutFormOuterDiv {
        margin-left: 0%;
    }
    .l-grid__col-5-td{
        width: 84% !important;
        margin: auto;
        margin-top: 5%;
    }
 }

label{
    font-family: 'Helvetica-Neue';
}
//billing
.checkoutFormOuterDiv {
    float: left;
    width: 83%;
    margin-right: 2%;
    margin-left: 14%;
    background: white;
    box-shadow: 4px 4px 4px #cccaca;
    border-radius: 10px !important;
}
.checkoutFormCenter {
    margin: 8% 8%;
}
.billingHeading {
    background: none;
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
    padding: 1% 0% 1% 0%;
    border-bottom: none;
    color: rgb(237,75,122);
    font-family: "ProximaNovaSoftW03";
}

.paymentHeading {
    background: none;
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
    padding: 1% 0% 1% 0%;
    border-bottom: none;
    color: rgb(237,75,122);
    font-family: "ProximaNovaSoftW03";
}
.label-name {
    text-align: left ;
    width: 100% ;
    font-size: 12px ;
    font-weight: 400 ;
    font-family: 'Montserrat';
}

.input-box {
    height: 37px;
    margin-bottom: 2px;
    border-radius: 6px !important;
    border: 1px solid rgba(178, 178, 178, 0.5);
}

.product-summary-box {
    margin-left: 20px;
    background: white;
    box-shadow: 4px 4px 4px #cccaca;
    border-radius: 10px !important;
    height: 267px;
}

.product-order-summary {
    background: #f8f9fb;
    box-shadow: 4px 4px 4px #cccaca;
    border-radius: 10px !important;
}
.order-prod-summary {
    flex: 0 0 25%;
    max-width: 25%;
    height: 50%;
    box-shadow: 4px 4px 4px #cccaca;
}

.col-3-div {
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 992px) {
    .checkoutFormOuterDiv {
        margin-left: 0%;
        width: 100%;
    }
    .order-prod-summary {
        flex: 0 0 35%;
        max-width: 100% !important;
        height: 50%;
        box-shadow: 4px 4px 4px #cccaca; 
     }
 }

 .order-prod-summary {
    flex: 0 0 25%;
    max-width: 65%;
    height: 30.50%;
    box-shadow: 4px 4px 4px #cccaca; 
 }

 .line-item-name {
    white-space: normal !important;
}
// New Code
.l-grid__col-7-td {
    width:58.33333%;
    max-width: 58.33333%;
}
@media (max-width: 768px){
    .l-grid__col-7-td{
        width: 100% !important;
        max-width: unset !important;
    }
}
// for shipping address confirmation
.edq-modal-header-color{
    background:rgb(237,75,122) !important;
}
.l-grid__col-5-td {
    /* width: 37.66667%; */
    /* max-width: 41.66667%; */
    width: 35%;
}

.l-grid__row {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
width: auto;
margin-left: -10px;
margin-right: -10px
}

@media only screen and (min-width: 1003px) {
.l-grid__row {
    /* margin-left:-20px; */
    /* margin-right: -20px; */
}
}

// New Code

$checkout-font-weight: 600;
$alert-warning-bg: #f7f0cb;
$alert-warning-border: #dad3b0;
$alert-warning-text: #8a6d3b;

.b-card.ghost {
    opacity: 0.5;
}

.arrival-time {
    white-space: pre;
}

.billing-address {
    display: block;
}

.checkout-checkbox {
    font-size: 0.875em;
}

.error-message {
    display: none;
}

.shipping-methods {
    font-size: 1.125em;
    font-weight: $checkout-font-weight;
}

.shipping-method-option {
    font-size: 0.938em;
}

.shipping-method-pricing {
    font-weight: bolder;
}

.multi-ship .multi-shipping {
    display: block;
}

span.ship-to-name,
span.ship-to-address1,
span.ship-to-address2,
span.ship-to-phone,
span.ship-to-city-st-zip {
    display: block;
}

.data-checkout-stage {
    // Initial states ------------------------
    &[data-checkout-stage] {
        .b-card.payment-summary,
        .shipping-summary {
            display: none;
        }

        button.place-order {
            display: none;
        }

        button.submit-payment {
            display: none;
        }

        button.submit-shipping {
            display: none;
        }
    }

    // Shipping ------------------------------
    &[data-checkout-stage=shipping] {
        &.multi-ship .order-product-summary {
            display: none;
        }

        .b-card.payment-form {
            display: none;
        }

        button.submit-shipping {
            display: block;
        }

        .shipment-selector-block {
            .btn-show-details,
            .btn-add-new {
                border: none;
            }
        }

        [data-address-mode=customer] {
            .shipping-address-block {
                display: none;
            }
        }

        [data-address-mode=shipment] {
            .shipping-address-form {
                display: none;
            }
        }

        [data-address-mode=edit] {
            .shipping-address-block {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }
    }

    // Payment -------------------------------
    &[data-checkout-stage=payment] {
        .shipping-section,
        .b-card.ghost {
            display: none;
        }

        .b-card.payment-form,
        .shipping-summary {
            display: block;
        }

        button.submit-payment {
            display: block;
        }

        .b-address-selector-block {
            .btn-show-details,
            .btn-add-new {
                border: none;
            }
        }

        [data-address-mode=customer] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=shipment] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=edit] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }

        [data-address-mode=details] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }
    }

    // Place Order -----------------------------
    &[data-checkout-stage=placeOrder] {
        .shipping-section,
        .b-card.payment-form,
        .b-card.ghost {
            display: none;
        }

        .b-card.payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: block;
        }
    }

    &[data-checkout-stage=submitted] {
        .shipping-form,
        .b-card.payment-form,
        .b-card.ghost {
            display: none;
        }

        .summary-section-label.shipping-addr-label {
            display: none;
        }

        .b-card.payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: none;
        }
    }

    option[value=new] {
        display: none;
    }

    h5 > span {
        font-size: 0.8em;
    }
}

[data-customer-type=guest] .single-shipping .shipment-selector-block {
    display: none;
}

.single-shipping .multi-ship-action-buttons {
    display: none;
}

.single-shipping .view-address-block {
    display: none;
}

.btn-show-details {
    padding-top: 0;
}

.multi-ship-address-actions .btn-save-multi-ship {
    margin-left: 10px;
}

.alert {
    margin:0.5em 0;
    &.alert-warning {
        background-color: $alert-warning-bg;
        border-color: $alert-warning-border;
        color: $alert-warning-text;
    }
    .alert-icon {
        display:block;
        width:30px;
        height:30px;
        float:left;
        margin:0.3125em 0.5em 0 0;
        text-align:center;
        .fa {
            position:relative;
            top:50%;
            font-size:2em;
            transform:translateY(-50%);
        }
    }
}
